# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
.env
# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

dist/
.schema.json
tsconfig.tsbuildinfo

# Visual Studio Code configs
.vscode